body {
    margin: 0;
    /* Shorthand background-- color, image, repeat, attachment, position */
    /* background: url("background.jpg") no-repeat fixed right top,
                url("trees.jpg") no-repeat fixed left bottom; */
    background-color: tan;
    font-family: sans-serif;
}

p {
    color: white;
}


/* General navigation control */
.nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navlist {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0.2); */
    padding: 0;
    font-size: large;
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
}

.navlist li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

/* Logo specific modifications */
.logo li a {
    float: left;
    padding: 14px 4px;
}

.logo li:first-child a img{
    width: 60px;
    height: auto;
}

.logo li:first-child a {
    padding: 0;
}

/* navigation tab specific highlighting */
.tabs li a{
    float: right;
}

.tabs li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.tabs li a:active {
    background-color: (255, 255, 255, 0.4);
    border-radius: 25px;
}


/* General Grid Style */
.row {
    color: white;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    align-items: center;
}

.column {
    flex: 50%;
}

.screenContent {
    padding-bottom: 55px;
}


/* Footer Styling */
footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

footer p {
    padding-right: 5px;
    text-align: center;
}


/* Responsive Styles */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
    .column {
      width: 100%;
      margin-bottom: 5px;
    }

    #bigScreens{
        display: none;
    }

    #smallScreens {
        display: flex;
    }

    footer {
        height: 55px;
    }
}

@media screen and (min-width: 701px) {
    #bigScreens{
        display: flex;
    }

    #smallScreens {
        display: none;
    }
}